@use "@/styles/mixin" as *;

.header {
  padding: 22px 70px 30px 30px;
  display: flex;
  justify-content: space-between;
  gap: 60px;

  @include mediaMobile {
    padding: 12px 20px 20px 16px;
    gap: 45px;
  }
}

.brandSection {
  display: flex;
  align-items: center;
  gap: 28px;
}

.userSection {
  display: flex;
  gap: 45px;
}

.searchSection {
  width: 100%;

  @include mediaMobile {
    text-align: end;
  }
}
